header, footer {
    background-color: #343a40;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.header {
    padding-left: 200px;
    padding-right: 200px;
}

main {
    padding: 25px 50px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.form__content {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.left {
    position: absolute;
    left: 0;
}
